.section {
    display : flex ;
    flex-direction: row ;
    height: 80px;
    justify-content: space-between;
    position : fixed ;
    top : 0px ;
    right: 0px ;
    left: 0px ;
    background-color: black ;
    height: 75px ;
    z-index: 100;



}

.section1 {
    width: 210px;
    display: flex ;
    flex-direction: row ;
    align-items: center;
    
    
}

.section2 {
    width: 500px;
    display: flex ;
    flex-direction: row ;
    flex : 1 ; 
    max-width: 500px ;
    margin-left: 0px ;
    margin-right: 15px ;
    align-items: center;
    margin-top: 5px ;

    

}

.section3{
    width: 300px ;
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 7px ;


}


.bix {
    font-size: 35px ;
    color : white ;
    margin-right: 10px ;
    margin-left: 10px ;
    
}

.yt {
    font-size : 35px ;
    color : red ;
    margin-left: 20px ; 
}

.youtube {
    font-family: roboto,arial ;
    font-weight: 600;
    margin-bottom: 7px;
    color : white  ;
    font-size: 24px ;
}


.search {
    width: 300px ;
    height: 48px ;
    flex: 1;
    font-size: 16px ;
    border : none ;  
    margin-bottom: 7px ;
    border-top-left-radius : 10px  ;
    border-bottom-left-radius : 10px  ;
    box-shadow: inset 1px 2px 12px rgb(187, 175, 175);
    font-family: roboto,arial;
    font-weight: 500;
    background-color: grey ;
    color : black; 

    
}

.search::placeholder {
    font-family: roboto,arial;
    font-weight: 600;
    color : rgb(202, 200, 200) ;
    
}


.search-button {
    height: 55px ;
    width: 50px;
    margin-bottom: 7px ;
    margin-left : -3px ;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px ;
    color: black ; 
    background-color: grey  ;
    transition: all 0.1s ease;
    border : 3px solid black ;



}


.search-button:hover {
    color : pink ;
    font-weight: 600;
    background-color: grey ;

}
.search-box {
    font-size : 19px ;
    background-color: grey ;
    
    
}

.micro-space {
    margin-left: 15px ;
    background-color: black ;
    border: none ;
    margin-bottom: 5px ;
    border-radius:15px   ;
    width:30px ;
    height: 40px ;

}

.micro-space:hover {
    background-color: grey ;
}

.micro {
    color : white  ;
    border: none ;
    font-size: 20px ;
    width: 100%;
    border-radius: 50%;
}

.micro:hover {
    background-color: grey ;
}

.box {
    color :rgb(228, 228, 228) ;
    margin-bottom: 5px ;  
    font-size: 20px ;

}

.naruto {
    width: 35px ;
    border-radius:50%;
    margin-bottom: 5px ; 
}

.notification-box {
    background-color: black ;
    position : relative ;
    color :white ;
    font-size: 20px ;
    margin-bottom: 5px ;
    border-radius: 50% ;

}

.notification-count {
    position : absolute ;
    top :-10px ;
    right : -7px ;
    border-radius: 10px ;
    font-family: Roboto,Arial ;
    font-weight: 500 ;
    font-size : 12px ;
    background-color: red ;
    width: 15px ; 
    padding-left : 6px ;

}


.notification-box:hover {
    background-color: grey ;
    

}


