.sidebar {
    background-color: aliceblue;
    position: fixed;
    top : 75px ;
    left: 0px ;
    bottom:0px ; 
    width: 100px ;
    background-color: black;
    color : white ;
    display : flex ;
    flex-direction: column;
    align-items: center;
}

.home {
    font-size: 20px ;
    margin: 25px ;
    font-family: Roboto ,Arial ;


}

.home:hover {
    background-color: grey ;
}

.home-icon {
    margin-left: 15px ;
    font-size: 25px ;
}

.PIWPIW {
    margin-top: 15px ;
    font-family: Roboto ,Arial;
    font-size: 18px ;

}

.PIWPIW:hover {
    margin-top: 15px ;
    font-family: Roboto ,Arial;
    background-color: grey ;

}
.piwpiw-icon {
    font-size: 35px;
    margin-left: 15px ;
}


.pingpong {
    margin-top: 35px ;
    font-family: Roboto ,Arial ;
}

.pingpong:hover {
    background-color: grey ;
}
.pingpong-icon {
    font-size: 25px;
    margin-left: 26px ;
}






