.grid-util {
            display: grid ; 
            grid-template-columns:60px 1fr ;

        }

        .grid-box {
            display: grid ;
            grid-template-columns:1fr 1fr 1fr 1fr ;
            row-gap:30px;
            column-gap: 30px ;
        
        }




        p {
            margin-top: 0px;
            margin-bottom : 0px ;
            font-family: roboto , arial ; 

        }
        .video-image {
            width: 100%;
            border-radius: 15px ;
            position: relative ;
            height: 200px;
        }

        .search {
            display: block;
        }
        .author-image {
            width: 55px ;
            vertical-align: top ;


        }
        .profile-pic {
            width: 45px   ;
            border-radius: 50% ;

        }
        .badge {
            color : blue ;
        }

        .video-title {
            font-weight: 600;
            font-size: 17px ;
            margin-bottom: 15px ;
            line-height: 20px;
            margin-top: 0;
            color: white;
        }

        .author-name,
        .video-stats {
            font-size: 15px ;
            color: rgb(96, 96, 96) ;
            font-weight: 500; 
        }

        .author-name {
            margin-bottom : 7px ;
            color: grey;             
        }

        .time {
            color : white ; 
            position: absolute;
            right :10px ;
            bottom: 13px; 
            background-color:black ;
            padding: 4px 3px 4px 3px ;
            font-family: roboto ,Arial ;
        }

.thumbnail {
    margin-bottom: 15px ; 
    position: relative ;
        }